<style type="text/css">
	.resume{
		text-align: center;
		min-height: 500px;
		padding-top: 120px;
	}
	.resume.container>h1{
		font-size: 30px;
	    text-transform: uppercase;
	    font-weight: 700;
	    line-height: 22px;
	    margin-bottom: 50px;
	    position: relative;
	    display: inline-block;
	    vertical-align: top;
	    padding: 0 15px;
	    color: #282528;
		margin-top: 0;
		position: relative;
	}
	.resume.container>h1::after{
		content:'';
		display: inline-block;
		width: 80px;
		height: 1px;
		background-color: #ff4081;
		margin-left: 10px;
		position: relative;
		top:-11px;
	}
	.resume.container>h1::before{
		content:'';
		display: inline-block;
		width: 80px;
		height: 1px;
		background-color: #ff4081;
		margin-right: 10px;
		position: relative;
		top:-11px;
	}
	.resume.container .row{
		text-align:left; 
	}
	.resume.container .row h2{
		position: relative;
		margin-bottom: 50px;
	}
	.resume.container .row h2::after{
		content:'';
		display: inline-block;
		width: 40px;
		height: 1px;
		background-color: #ff4081;
		margin-left: 10px;
		position: absolute;
		top:20px;
	}
	.resume .resume_time{
		display: block;
		width:86px;
		height: 26px;
		line-height: 26px;
		background-color: #ff4081;
		color: #fff;
		text-align: center;
		margin-bottom: 15px;
	}
	.resume .subtitle{
		font-size: 16px;
	    font-weight: 400;
	    margin-bottom: 10px;
	    text-transform: capitalize;
	    color: #282528;
		margin-top: 0;
	}
	.resume .subtitle>span{
		font-weight: 600;
		color: #3f51b5;
	}
</style>
<div class="container resume">
	<h1>My RESUME</h1>
	<div class="row">
		<div class="col-md-6">
			<h2>eduction</h2>
			{foreach $view_data['edu'] as $key => $value}
			<div>
				<span class="resume_time">{$value.time}</span>
				<h3 class="subtitle">{$value.title}</h3>
				<p>{$value.content}</p>
			</div>
			{/foreach}
		</div>
		<div class="col-md-6">
			<h2>experiens</h2>
			{foreach $view_data['exp'] as $key => $value}
			<div>
				<span class="resume_time">{$value.time}</span>
				<h3 class="subtitle">{$value.title}</h3>
				<p>{$value.content}</p>
			</div>
			{/foreach}
		</div>
	</div>
</div>