{include 'view/public/header.html'}
	<div class="container">
		<div>
			<h1>我们的小组</h1>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;立志成才，我们无所畏惧，向未来的彼岸，奋勇航行。报效祖国，我们无所保留，向成功的巅峰，奋力攀登！<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每个人都有一份属于自我的志向，也许远大、也许平凡，俗话说：“无志之人常立志，有志之人立大志”。立志是成功的动力，能让我们为实现人生目标而不懈地奋斗，凭借坚忍不拔的信念屹立在成功的巅峰眺望远方。立志贵在坚持，立志贵在立大志！而立大志，莫过于立志成才，照亮祖国未来的期望。</p>
			<h2>我们的组员</h2>
			<table class="table table-hover" >
				<tr>
					<th>姓名</th>
					<th>简介</th>
					<th></th>
				</tr>
				{foreach $view_data as $key => $value}
				
				<tr>
					<!-- <td>本科</td> -->
					<td>{$value.name}</td>
					<td>{$value.intro}</td>
					
					<td><a class="btn btn-success active" href="index.php?control=person&action=index&id={$value.id}">进入成员主页</a></td>
				</tr>
				{/foreach}
			</table>
		</div>
		<div>
		</div>
	</div>
	{include 'view/public/footer.html'}
