<style type="text/css">
	.about{
		text-align: center;
	}
	.about.container>h1{
		font-size: 30px;
	    text-transform: uppercase;
	    font-weight: 700;
	    line-height: 22px;
	    margin-bottom: 50px;
	    position: relative;
	    display: inline-block;
	    vertical-align: top;
	    padding: 0 15px;
	    color: #282528;
		margin-top: 0;
		position: relative;
	}
	.about.container>h1::after{
		content:'';
		display: inline-block;
		width: 80px;
		height: 1px;
		background-color: #ff4081;
		margin-left: 10px;
		position: relative;
		top:-11px;
	}
	.about.container>h1::before{
		content:'';
		display: inline-block;
		width: 80px;
		height: 1px;
		background-color: #ff4081;
		margin-right: 10px;
		position: relative;
		top:-11px;
	}
	.about.container .row{
		text-align:left; 
	}
	.about.container .row h2.about_skills{
		position: relative;
		margin-bottom: 20px;
	}
	.about.container .row h2.about_skills::after{
		content:'';
		display: inline-block;
		width: 40px;
		height: 1px;
		background-color: #ff4081;
		margin-left: 10px;
		position: absolute;
		top:20px;
	}
	@media screen(min-width: 768px) and(max-width: 992px){
		.about .col-sm-5{
			flex: 0 0 41.666666667%;
			max-width: 41.666666667%;
		}
		.about .col-sm-7{
			flex: 0 0 58.333333333%;
			max-width: 58.333333333%;
		}
	}
	.about.container .row .image img{
		width:100%;
	}
	/*进度条*/
	.about .progress{
		height: 3px;
	}
	.about .progress .progress-bar{
		position: relative;
		width: 0%;
		height: 3px; 
		opacity: 1;
		background: transparent linear-gradient(to right, #3f51b5, #ff4081);
		animation: wobble 1.5s 1 both;
	}
	
	.about .progress .progress-bar::before{
		position: absolute;
	    right: 0;
	    /*content: attr(data-present);*/
	    content:'95%';
	    width: 10px;
	    height: 10px;
	    top: -24px;
	    color: inherit;
	}
	@-webkit-keyframes wobble {
	     from {
	     	width: 0;
	     }
	     to{
	     	width: 95%;
	     }
		}
	.about .skills_title{
		margin: 0;
		padding: 0;
	}
	.about .skills_title_right{
		float: right;
	}
</style>
<div class="container about">
	<h1>ABOUT ME</h1>
	<div class="row">
		<div class="col-md-3 col-sm-5">
			<div class="image">
				<img src="{$view_data['user'][0]['iconimg']}">
			</div>
			
		</div>
		<div class="col-md-5 col-sm-7">
			<h3>I'm {$view_data['user'][0]['name']}</h3>
			<p>{$view_data['user'][0]['intro']}</p>
		</div>
		<div class="col-md-4">
			<h2 class="about_skills">skills</h2>
			<!-- 循环的部分 -->
			{foreach $view_data['skill']  as $key => $value}
			<p class="skills_title">{$value.skills} <span class="skills_title_right">{$value.score}%</span></p>
			<div class="progress">
				<div class="progress-bar" data-present="{$value.score}%" >
				</div>
				<!-- 此处的动画效果要改width属性 -->
			</div>
			{/foreach}
		</div>
	</div>
</div>